@font-face {
    font-family: PostNoBillsJaffna-Regular; 
    src: url(../assets/fonts/PostNoBillsJaffna-Regular.ttf); 
}

@font-face {
    font-family: PostNoBillsJaffna-Bold; 
    src: url(../assets/fonts/PostNoBillsJaffna-Bold.ttf); 
}